@import url(/styles/library.css);

@media (min-width: 768px) {
  #waftPage {
    justify-content: end;
  }

  .clock {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: var(--spacing-xxl);
    margin-bottom: var(--spacing-xxl);

    z-index: -100;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #clock_1 {
    width: 60%;
    position: absolute;
    z-index: -1010;
    justify-self: center;
  }

  #clock_2 {
    width: 60%;
    position: absolute;
    z-index: -1009;
    justify-self: center;
  }

  #clock_3 {
    width: 60%;
    position: absolute;
    z-index: -1008;
    justify-self: center;
  }

  #clock_4 {
    width: 60%;
    position: absolute;
    z-index: -1007;
    justify-self: center;
  }

  #clock_5 {
    height: 60vh;
    width: 60vh;
    position: absolute;
    z-index: -1006;
    justify-self: center;
  }

  #clock_p {
    height: 60vh;
    width: 60vh;
    position: absolute;
    z-index: 1;
    justify-self: center;
  }

  #home_text {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-xl);
  }

  #p1 {
    text-transform: uppercase;
    color: #555;
  }

  #p2 {
    color: #6f181a;
    text-transform: uppercase;
  }

  #p3 {
    text-transform: uppercase;
    color: #555;
  }
}

@media (max-width: 767px) {
  .clock {
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-large);
  }

  #clock_1 {
    width: 70vw;
    position: absolute;
    z-index: 2;
  }

  #clock_2 {
    width: 70vw;
    position: absolute;
    z-index: 3;
  }

  #clock_3 {
    width: 70vw;
    position: absolute;
    z-index: 4;
  }

  #clock_4 {
    width: 70vw;
    position: absolute;
    z-index: 4;
  }

  #clock_5 {
    width: 70vw;
    position: absolute;
    z-index: 5;
  }

  #clock_p {
    width: 70vw;
    position: absolute;
    z-index: 6;
  }

  #home_text {
    position: absolute;
    z-index: 7;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  #p1 {
    font-size: 2rem;
    font-family: Saira, serif;
    color: #919191;
    text-align: center;
  }

  #p2 {
    display: none;
    font-size: 2rem;
    font-family: Saira, serif;
    color: #919191;
    text-align: center;
  }

  #p22 {
    font-size: 2rem;
    font-family: Saira, serif;
    color: #6f181a;
    text-align: center;
  }

  #p3 {
    font-size: 2rem;
    font-family: Saira, serif;
    text-align: center;
    color: #919191;
  }
}
