@import url(/styles/theme/theme-A.css);

@media (min-width: 768px) {
  .about-animation {
    width: 240px;
    height: 100%;

    position: absolute;
    z-index: 100;
    right: 0;
  }

  .about-animation-text {
    position: absolute;
    z-index: 200;

    width: 100%;

    color: var(--color-font-secondary);
    text-align: right;
  }

  .about-animation-frame {
    position: absolute;
    z-index: 100;

    width: 100%;
    height: 100%;

    overflow: hidden;
    justify-self: center;
    align-self: center;
    -webkit-mask-image: var(--maskColor-about);
    mask-image: var(--maskColor-about);
  }

  .about-animation-actor {
    width: 100%;
    margin-top: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #airplane {
    width: 100px;
    height: 80px;
  }

  #cloud {
    width: 60px;
    height: 1080px;
  }

  .about-content {
    position: relative;
    width: 100%;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
  }

  .about-content::-webkit-scrollbar {
    display: none;
  }

  .about-content-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
  }

  .about-page-title {
    color: var(--color-font-primary);
  }

  .about-section-title {
    color: var(--color-font-primary);
  }

  .about-section-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
  }

  .about-item-frame {
    color: var(--color-font-secondary);

    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-s);
  }

  .about-item-name {
    width: 200px;

    display: flex;
    gap: var(--spacing-s);
  }

  .about-item-content {
    width: 400px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-s);
  }
}

@media (max-width: 767px) {
  .about-animation {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--spacing-large);
    overflow: hidden;
  }
  .about-animation-text {
    position: fixed;
    font-family: serif;
    color: var(--color-text);
    font-size: var(--fontSize-t3);
    opacity: 0.8;
  }
  .about-animation-frame {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--spacing-large);
  }

  .about-animation-actor {
    width: 100%;
    height: 100%;
  }
  #airplane {
    position: fixed;
    z-index: 1;
    width: 100px;
    right: 0;
    top: 0;
    margin-right: var(--spacing-large);
    margin-top: 140px;
  }

  #cloud {
    position: fixed;
    z-index: 0;
    width: 60px;
    right: 0;
    top: 0;
    margin-right: 42px;
    margin-top: 140px;
  }

  .about-content {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40px;
    margin-top: 180px;
    padding: var(--spacing-large);

    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  .about-title-name {
    font-family: Saira, serif;
    font-size: var(--fontSize-t7);
    color: var(--color-text);
    line-height: var(--lineHeight-t7);
  }

  .about-title {
    margin-top: var(--spacing-large);
    font-size: var(--fontSize-t4);
    color: var(--color-text);
    line-height: var(--lineHeight-t4);
  }

  .about-item-frame {
    margin-top: var(--spacing-m);
    margin-left: var(--spacing-s);
  }

  .about-item-name {
    font-size: var(--fontSize-t2);
    color: var(--color-text);
    line-height: var(--lineHeight-t2);
    opacity: 0.6;
  }

  .about-item-content {
    font-size: var(--fontSize-t2);
    color: var(--color-text);
    line-height: var(--lineHeight-t2);
  }
}
