@import url(/styles/library.css);

@font-face {
    font-family: Saira;
    src: url(/fonts/SairaCondensed-Regular.ttf);
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


#waftPage {
    visibility: visible;
    z-index: 10;
}

#waftBackground {
    background: var(--linearColor-homeBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -6;
    width: 100%;
    height: 100%;
}


#realmPage {
    visibility: hidden;
    z-index: 9;
}

#realmBackground {
    background: var(--linearColor-projectsBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    visibility: hidden;
}


#fragmentsPage {
    visibility: hidden;
    z-index: 8;
}

#fragmentsBackground {
    background: var(--linearColor-notesBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -4;
    width: 100%;
    height: 100%;
    visibility: hidden;
}


#aboutPage {
    visibility: hidden;
    z-index: 6;
}

#aboutBackground {
    background: var(--linearColor-aboutBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    visibility: hidden;
}


.noise {
    background: url(/images/noise.gif);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .05;
    z-index: -1;
    pointer-events: none;
}



body {

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    background-color: black;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

:root {
    --color-text: #ffffff;
    --color-background: rgba(0, 0, 0, 0.8);
    --opacity-background: 0.5;
    --opacity-navOption-normal: 0.5;
    --opacity-navOption-hover: 0.8;
    --opacity-navOption-selected: 1;
    --opacity-navinfo: 0.4;
    --opacity-divider: 0.3;
}


@media (min-width: 768px) {

    .container {
        width: 1360px;
        height: 720px;
        margin: 40px;

        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 100%;
        grid-column-gap: 80px;

        overflow: hidden;
    }

    .main {
        overflow: hidden;
        position: relative;
    }

    .tabPages {
        box-sizing: border-box;
        position: absolute;
        padding-top: var(--space-40);
        padding-bottom: var(--space-40);
        width: 100%;
        height: 100%;

        display: flex;
        overflow: hidden;
    }



    .nav {
        box-sizing: border-box;
        padding-top: var(--space-40);
        padding-bottom: var(--space-40);

        display: grid;
        grid-template-rows: auto 1fr auto auto auto;
        grid-template-columns: 1fr;
    }

    .nav-head {
        height: var(--lineHeight-t9);
        display: flex;
        flex-direction: column-reverse;
    }


    .nav-title {
        text-align: right;
        color: var(--color-text);
        font-size: var(--fontSize-t9);
        line-height: var(--lineHeight-t9);
        font-family: Saira, serif;
    }

    #nav-menu-button {
        visibility: hidden;
    }

    .nav-menu-icon{
        visibility: hidden;
    }


    .nav-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-option-button {
        height: var(--lineHeight-t3);
        margin-top: var(--space-4);
        margin-bottom: var(--space-4);

        text-align: right;

        color: var(--color-text);
        opacity: var(--opacity-navOption-normal);
        font-size: var(--fontSize-t3);
        line-height: var(--lineHeight-t3);
    }

    .nav-option-button:hover {
        color: var(--color-text);
        opacity: var(--opacity-navOption-hover);
    }

    .selected {
        color: var(--color-text);
        opacity: var(--opacity-navOption-selected);
    }

    .nav-option-button:hover~#cursor {
        transform: scale(6);
    }


    .divider {
        font-size: var(--fontSize-t2);
        opacity: var(--opacity-divider);
        margin-left: var(--space-8);
        margin-right: var(--space-8);
    }

    #nav-closeMenu-button{
        height: 0;
        visibility: hidden;
    }

    #nav-closeMenu-icon{
        height: inherit;
    }



    .nav-logo {
        margin-bottom: var(--space-16);
        display: flex;
        flex-direction: row-reverse;
    }


    .nav-icon {
        height: 96px;
        width: 48px;
    }


    .nav-recordinfo-text {
        height: var(--lineHeight-t1);

        font-size: var(--fontSize-t1);
        line-height: var(--lineHeight-t1);
        text-align: right;
        color: var(--color-text);
        opacity: var(--opacity-navinfo);
    }

}


@media (max-width: 767px) {
    .container {
        width: 100%;
        height: 100%;
        position: relative;

        display: grid;
        grid-template-rows: 80px 1fr;
        grid-template-columns: 1fr;

    }

    .nav {
        height: 100%;
    }

    .nav-head {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding-left: var(--space-24);
        padding-right: var(--space-24);

        display: grid;
        grid-template-columns: 1fr 48px;
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    }

    #nav-menu-button {
        width: 48px;
        height: 48px;

        display: flex;
        align-items: center;
        justify-content: center;

        visibility: visible;
        opacity: 0.5;
    }

    .nav-menu-icon {
        width: 32px;
        height: 32px;

    }

    .nav-title {
        color: var(--color-text);
        font-size: var(--fontSize-t6);
        line-height: var(--lineHeight-t6);
        font-family: Saira, serif;
    }



    .nav-menu-list {
        position: absolute;
        top: 80px;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;

        visibility: hidden;

        background-color: rgba(0,0,0,0.9);
        z-index: 100;
    }

    #nav-closeMenu-button
    {
        width: 100%;
        height: 80px;
        margin-top: var(--space-64);
        visibility: hidden;
        display: flex;
        justify-content: center;
    }

    #nav-closeMenu-icon{
        width: 80px;
        height: 80px;
        opacity: 0.4;
        visibility: inherit;
    }



    .nav-option-button {
        display: flex;
        width: 100%;
        height: 48px;
        margin-bottom: var(--space-8);

        align-items: center;
        justify-content: center;

        font-size: var(--fontSize-t3);
        color: var(--color-text);
        opacity: var(--opacity-navOption-normal);
    }


    .nav-option-button:hover {
        color: var(--color-text);
        opacity: var(--opacity-navOption-hover);
    }

    .selected {
        color: var(--color-text);
        opacity: var(--opacity-navOption-selected);
    }



    .divider {
        margin-left: var(--space-16);
        margin-right: var(--space-16);
        font-size: var(--fontSize-t2);
        color: var(--color-text);
        opacity: var(--opacity-divider);
    }


    .nav-logo {
        visibility: hidden;
        height: 0;
    }

    .nav-recordinfo {
        visibility: hidden;
        height: 0;
    }

    .nav-recordinfo-text {
        visibility: inherit;
        height: 0;
    }

    .main {
        overflow: hidden;
        position: relative;
    }


    .tabPages {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: var(--space-24);

        display: flex;
        overflow-y: scroll;
        flex-direction: column;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .tabPages::-webkit-scrollbar{
        display: none;/* Hide scrollbar for Chrome, Safari and Opera */
    }


}