 @media (min-width: 1024px) {
     #projectsArea {
         display: none;
         height: 84vh;
     }

     .content-list {
         width: auto;
         display: inline-flex;
         flex-wrap: nowrap;
         height: 100%;
         align-self: center;
     }

     .content-item {    
         width: 320px;
         height: 76vh;
         border-radius: 4px;

         position: relative;
         margin-right: 16px;
         align-self: center;

         display: flex;
         justify-content: center;
         align-items: center;
         transition: 0.8s;
         overflow: visible;



     }

     .content-item:hover {
         height: 84vh;
         transition: 0.2s;
     }

     .content-item:hover .content-cover {
         filter: none;
         box-sizing: border-box;
         border-radius: 4px;
         border: solid 6px white;
         opacity: 1;
     }

     .content-item:hover .content-cover-initialletter {
         opacity: 0;
     }

     .content-item:hover .content-cover-poetry {
         opacity: 0;
     }

     .content-item:hover .content-cover-author {
         opacity: 0;
     }

     .content-cover {
         filter: grayscale(100%);
         width: 100%;
         height: 100%;
         opacity: 0.08;
         position: absolute;
     }

     .content-cover-up {
         height: 76vh;
         width: 100%;
         z-index: 1;
         padding: 0 40px;
         display: grid;
         grid-template-rows: 4vh 40px 20px 240px auto 40px 20px 20px 4vh;
         overflow: hidden;
     }

     .content-cover-title {
         font-size: 24px;
         align-self: center;
         font-family: Saira, sans-serif;
         color: var(--color-text-a);
     }

     .content-cover-description {
         font-size: 12px;
         color: var(--color-text-d);
     }

     .content-cover-poetry {
         color: var(--color-text-c);
         font-size: 12px;
     }

     .content-cover-author,
     .content-cover-time,
     .content-cover-me {
         font-size: 12px;
         color: var(--color-text-d);
     }

     .content-cover-initialletter {
         font-size: 160px;
         align-self: center;
         opacity: 1;
         font-family: Saira, sans-serif;
         color: var(--color-text-a);
     }

     .content-cover-author {
         align-self: center;
     }

     .content-cover-author,
     .content-cover-time,
     .content-cover-me {
         text-align: right;
     }
 }



 @media (max-width: 1023px) {
     #projectsArea {
         display: none;
     }

     .content-list {
         display: flex;
         flex-direction: column;
     }

     .content-item {
         background-color: #1F3233;
         margin-top: 12px;
         height: 200px;
         width: 100%;
         overflow: hidden;
         display: flex;
         position: relative;
     }

     .content-cover {
         width: 100%;
         height: 200px;
         opacity: 0.5;
         position: absolute;
     }

     .content-cover-up {
         width: 100%;
         z-index: 9;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .content-cover-poetry,
     .content-cover-author,
     .content-cover-me,
     .content-cover-initialletter {
         display: none;
     }

     .content-cover-title {
         font-size: 32px;
         margin: 20px 0;
     }

     .content-cover-description,
     .content-cover-time {
         opacity: 0.7;
         margin-bottom: 10px;
         font-size: 16px;
     }
 }