    @media (min-width: 1024px) {
        #aboutArea {
            display: none;
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        #aboutArea::-webkit-scrollbar {
            display: none;
        }

        .about-title {
            font-size: 20px;
            margin-top: 10%;
            margin-bottom: 2%;
            color: var(--color-text-b);
        }

        .about-item-frame {
            display: grid;
            grid-template-columns: 180px auto;
            margin-bottom: 10px;
        }

        .about-item-name {
            width: 180px;
            opacity: 0.4;
            margin-right: 30px;
            font-weight: 400;
            color: var(--color-text-b);
        }

        .about-item-content {
            color: var(--color-text-b)
        }

        .about-item-icon {
            margin-right: 20px;
            width: 24px;
            height: 24px;
        }

    }

    @media (max-width: 1023px) {

        #aboutArea {
            display: none;
        }
    }