    @media (min-width: 1024px) {

        .fly {
            display: flex;
            position: absolute;
            z-index: 100;
            width: 16vw;
            height: 100%;
            right: 0;
        }

        .flyText {
            width: 100%;
            position: absolute;
            margin-top: 6vh;
            z-index: 120;
            font-size: 24px;
            color: var(--color-text-b);
            font-family: serif;
            text-align: right;
        }

        .animArea {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            justify-self: center;
            align-self: center;
            -webkit-mask-image: var(--maskColor-about);
            mask-image: var(--maskColor-about);
        }

        .anim {
            margin-top: 20vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            align-items: center;
        }

        #airplane {
            width: 100px;
            height: 80px;
        }

        #cloud {
            width: 60px;
            height: 1080px;
        }


        .aboutme {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        .aboutme::-webkit-scrollbar {
            display: none;
        }


        .about-title {
            font-size: 20px;
            margin-top: 10%;
            margin-bottom: 2%;
            color: var(--color-text-b);
        }

        .about-item-frame {
            display: grid;
            grid-template-columns: 180px auto;
            margin-bottom: 10px;
        }

        .about-item-name {
            width: 180px;
            opacity: 0.4;
            margin-right: 30px;
            font-weight: 400;
            color: var(--color-text-b);
        }

        .about-item-content {
            color: var(--color-text-b)
        }

        .about-item-icon {
            margin-right: 20px;
            width: 24px;
            height: 24px;
        }

    }

    @media (max-width: 1023px) {

        #aboutArea {
            display: none;
        }
    }