@import url(/styles/library.css);


#homeArea {
    visibility: visible;
    z-index: 10;
}

#homeBackground {
    background: var(--linearColor-homeBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -6;
    width: 100%;
    height: 100%;
}


#projectsArea {
    visibility: hidden;
    z-index: 9;
}

#projectsBackground {
    background: var(--linearColor-projectsBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    visibility: hidden;
}


#notesArea {
    visibility: hidden;
    z-index: 8;
}

#notesBackground {
    background: var(--linearColor-notesBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -4;
    width: 100%;
    height: 100%;
    visibility: hidden;
}


#othersArea {
    visibility: hidden;
    z-index: 7;
}

#othersBackground {
    background: var(--linearColor-othersBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    visibility: hidden;
}


#aboutArea {
    visibility: hidden;
    z-index: 6;
}

#aboutBackground {
    background: var(--linearColor-aboutBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    visibility: hidden;
}






.noise {
    background: url(/images/noise.gif);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .05;
    z-index: -1;
    pointer-events: none;
}

.nav-menu-hide {
    display: none;
}



@media (min-width: 768px) {

    body {
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
        background-color: black;
        position: fixed;
    }


    .container {
        width: 1360px;
        height: 720px;
        margin: 40px;

        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 100%;
        grid-column-gap: 80px;

        overflow: hidden;
        position: fixed;
    }


    .main {
        display: flex;
        overflow: hidden;
        position: relative;
    }

    .tabContent {
        box-sizing: border-box;
        padding-top: var(--space-40);
        padding-bottom: var(--space-40);

        width: 100%;
        height: 100%;
        display: flex;

        position: absolute;
        overflow: hidden;
    }







    .nav {
        box-sizing: border-box;
        padding-top: var(--space-40);
        padding-bottom: var(--space-40);

        display: grid;
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 1fr;
    }

    .nav-head {
        height: var(--lineHeight-t9);
        display: flex;
        flex-direction: column-reverse;
    }


    .nav-title {
        text-align: right;
        color: white;
        font-size: var(--fontSize-t9);
        line-height: var(--lineHeight-t9);
        font-family: Saira, serif;
    }

    #nav-menu-button {
        visibility: hidden;
    }


    .nav-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-option-button {
        height: var(--lineHeight-t3);
        margin-top: var(--space-4);
        margin-bottom: var(--space-4);

        text-align: right;

        color: var(--color-text-d);
        font-size: var(--fontSize-t3);
        line-height: var(--lineHeight-t3);
    }

    .nav-option-button:hover {
        color: var(--color-text-a);
    }

    .selected {
        color: var(--color-text-a);
    }

    .nav-option-button:hover~#cursor {
        transform: scale(6);
    }


    .divider {
        font-size: var(--fontSize-t2);
        opacity: 0.18;
        margin-left: var(--space-8);
        margin-right: var(--space-8);
    }

    .nav-logo {
        margin-bottom: var(--space-16);
        display: flex;
        flex-direction: row-reverse;
    }


    .nav-icon {
        height: 96px;
        width: 48px;
    }

    .nav-recordinfo-text {
        height: var(--lineHeight-t1);

        font-size: var(--fontSize-t1);
        line-height: var(--lineHeight-t1);
        text-align: right;
        color: var(--color-text-d);
    }






}


@media (max-width: 767px) {
    body {
        width: 100vw;
        height: 100vh;
        height: -webkit-fill-available;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: black;
        position: fixed;
    }

    .container {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: auto 1fr;

        overflow: hidden;
    }

    .nav {
        background-color: #1c1d1f;
        width: 100%;
        height: 56px;
        position: relative;
    }

    .nav-head {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding-left: var(--space-24);
        padding-right: var(--space-24);

        display: grid;
        grid-template-columns: 1fr 48px;
        justify-content: center;
        align-items: center;

        background-color: #0C0C0C;
        position: absolute;
        z-index: 1;
    }

    #nav-menu-button {
        width: 48px;
        height: 48px;
        opacity: 0.5;

        display: flex;
        align-items: center;
        justify-content: center;

        visibility: visible;
    }

    .nav-menu-icon {
        width: 24px;
        height: 24px;
    }

    .nav-title {
        color: white;
        font-size: var(--fontSize-t4);
        line-height: var(--lineHeight-t4);
    }



    .nav-menu-list {
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        margin-top: 56px;
        padding-top: 72px;


        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;

        position: absolute;
        z-index: 100;
    }




    .nav-option-button {
        display: flex;
        width: 100%;
        height: 48px;
        margin-bottom: var(--space-8);

        font-size: var(--fontSize-t3);
        color: white;

        align-items: center;
        justify-content: center;
    }

    .divider {
        margin-left: var(--space-16);
        margin-right: var(--space-16);
        font-size: var(--fontSize-t2);
        opacity: 0.2;
    }


    .nav-logo {
        visibility: hidden;
    }

    .nav-recordinfo {
        visibility: hidden;
    }

    .nav-recordinfo-text {
        color: #6B6D70;
        font-size: 12px;
        font-weight: 200;
    }

    .main {
        width: 100%;
        overflow: hidden;
    }
}