 @media (min-width: 768px) {
     .clock {
         margin-top: var(--space-40);
         margin-bottom: var(--space-40);
         box-sizing: border-box;
         top:0;
         bottom: 0;
         left: 0;
         right: 0;
         position: absolute;
         z-index: -1010;

         overflow: hidden;
         display: flex;
         justify-content: center;
         align-items: center;
     }


     #clock_1 {
         height: 80%;
         width: 80%;
         position: absolute;
         z-index: -1010;
         justify-self: center;
     }

     #clock_2 {
         height: 80%;
         width: 80%;
         position: absolute;
         z-index: -1009;
         justify-self: center;
     }

     #clock_3 {
         height: 70vh;
         width: 70vh;
         position: absolute;
         z-index: -1008;
         justify-self: center;
     }


     #clock_4 {
         height: 60vh;
         width: 60vh;
         position: absolute;
         z-index: -1007;
         justify-self: center;
     }

     #clock_5 {
         height: 60vh;
         width: 60vh;
         position: absolute;
         z-index: -1006;
         justify-self: center;
     }

     #clock_p {
         height: 60vh;
         width: 60vh;
         position: absolute;
         z-index: 1;
         justify-self: center;
     }

     #home_text {
         width: 100%;
         z-index: 2;
         display: flex;
         flex-direction: column;
         align-items: end;
         align-self: center;
     }

     #p1 {
         font-size: var(--fontSize-t7);
         line-height: var(--lineHeight-t7);
         font-family: Saira, serif;
         text-transform: uppercase;
         color: #555;
         opacity: 0.7;
         text-align: right;

     }

     #p2 {
         font-size: var(--fontSize-t9);
         line-height: var(--lineHeight-t9);
         font-family: Saira, serif;
         color: #6F181A;
         text-transform: uppercase;
         opacity: 1;
         text-align: right;
         margin-top: 10px;
     }

     #p3 {
         font-size: var(--fontSize-t7);
         line-height: var(--lineHeight-t7);
         font-family: Saira, serif;
         text-transform: uppercase;
         color: #555;
         opacity: 0.7;
         text-align: right;
         margin-top: 10px;
     }
 }



 @media (max-width: 767px) {
     .clock {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .lineBackground {
         width: 88%;
         height: 88%;
         position: absolute;
         z-index: -1012;
         background-repeat: repeat-x;
         opacity: 0.2;
     }

     .ellipse {
         width: 60vw;
         height: 60vw;
         border-radius: 50%;
         position: absolute;
         z-index: -1011;
         box-shadow: 0 0 160px rgba(121, 0, 0, 0.2);
     }


     #clock_1 {
         width: 60vw;
         position: absolute;
         z-index: -1010;
     }

     #clock_2 {
         width: 60vw;
         position: absolute;
         z-index: -1009;
     }

     #clock_3 {
         width: 60vw;
         position: absolute;
         z-index: -1008;
     }

     #home_text {
         width: 100%;
         padding-left: 10vw;
         padding-right: 10vw;
     }




     #p1 {
         font-size: 2rem;
         font-family: Saira, serif;
         color: #919191;
         text-align: center;
     }


     #p2 {
         display: none;
         font-size: 2rem;
         font-family: Saira, serif;
         color: #919191;
         text-align: center;
     }

     #p22 {
         font-size: 2rem;
         font-family: Saira, serif;
         color: #6F181A;
         text-align: center;
     }

     #p3 {
         font-size: 2rem;
         font-family: Saira, serif;
         text-align: center;
         color: #919191;
     }
 }