:root {
    --color-divider: rgba(255, 255, 255, 0.08);
    --color-background: #17181A;
    --color-text-a: rgba(255, 255, 255, 1);
    --color-text-b: rgba(255, 255, 255, 0.7);
    --color-text-c: rgba(255, 255, 255, 0.5);
    --color-text-d: rgba(255, 255, 255, 0.3);
    --color-text-e: rgba(255, 255, 255, 0.2);
    --color-primaryText: #ffffff;
    --color-secondaryText: rgba(255, 255, 255, 0.5);

    --linearColor-homeBackground: linear-gradient(-45deg, #000000, #0e0e0e, #141414, #000000);
    --linearColor-projectsBackground: linear-gradient(-45deg, #004466, #00264D, #002559, #014450);
    --linearColor-notesBackground: linear-gradient(-45deg, #243651, #243651, #1C293D, #1C293D);
    --linearColor-othersBackground: linear-gradient(-45deg, #000000, #0e0e0e, #141414, #000000);
    --linearColor-aboutBackground: linear-gradient(-45deg, #000000, #0e0e0e, #141414, #000000);

}

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    -webkit-user-seletct: none;
    -moz-user-seletct: none;
    scrollbar-width: none;
}

img {
    object-fit: cover;
}

li {
    cursor: pointer;
}




@font-face {
    font-family: Saira;
    src: url("../fonts/SairaCondensed-Regular.ttf");
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}