:root {

    --space-80: 80px;
    --space-72: 72px;
    --space-64: 64px;
    --space-56: 56px;
    --space-48: 48px;
    --space-40: 40px;
    --space-32: 32px;
    --space-24: 24px;
    --space-16: 16px;
    --space-8: 8px;
    --space-4: 4px;

    --lineHeight-t1: 16px;
    --lineHeight-t2: 24px;
    --lineHeight-t3: 24px;
    --lineHeight-t4: 32px;
    --lineHeight-t5: 32px;
    --lineHeight-t6: 40px;
    --lineHeight-t7: 56px;
    --lineHeight-t9: 88px;

    --fontSize-t1: 12px;
    --fontSize-t2: 14px;
    --fontSize-t3: 16px;
    --fontSize-t4: 18px;
    --fontSize-t5: 20px;
    --fontSize-t6: 24px;
    --fontSize-t7: 36px;
    --fontSize-t8: 40px;
    --fontSize-t9: 56px;

    --cornerRadius-4: 4px;
    --cornerRadius-8: 8px;
    --cornerRadius-16: 16px;
    --cornerRadius-24: 24px;
    --cornerRadius-32: 32px;
    --cornerRadius-40: 40px;



    --linearColor-homeBackground: #0C0C0C;
    --linearColor-projectsBackground: linear-gradient(137.59deg, #003F7D 0%, #104E7A 34.9%, #0C5984 67.19%, #006174 100%);
    --linearColor-notesBackground: linear-gradient(137.59deg, #1F364D 0%, #243959 34.9%, #232E4D 67.19%, #232A4D 100%);
    --linearColor-othersBackground: linear-gradient(137.59deg, #8B75C8 0%, #CE8893 34.9%, #D7876C 67.19%, #C89962 100%);
    --linearColor-aboutBackground: linear-gradient(-45deg, #4E7DF5, #4082F4, #5A9CF9, #7DA2FF);

    --maskColor-about: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    user-select: none;

    font-family: "Source Han Sans SC", "PingFang SC", serif;

}

img {
    object-fit: cover;
}

li {
    cursor: pointer;
}
