     #notesArea {
         display: none;
     }

     @media (min-width: 1200px) {
         .noteList {
             width: 100%;
             height: 100%;
             display: grid;
             grid-template-columns: 1fr 1fr 1fr;
             grid-template-rows: 1fr 1fr 1fr;
             grid-template-areas: "a1 a2 a2""b1 a2 a2""c1 c2 c3";
             row-gap: 20px;
             column-gap: 20px;
         }

         .noteBlock {
             display: grid;
             grid-template-columns: 1fr;
             grid-template-rows: 1fr 80px;
             overflow: hidden;
         }


         .noteBlockSmall {
             display: grid;
             grid-template-columns: 1fr;
             grid-template-rows: 1fr 60px;
             overflow: hidden;
         }


         .noteNum {
             position: absolute;
             z-index: 1;
             font-size: 400px;
             text-align: center;
             font-weight: bolder;

             background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             background-clip: text;
         }

         .noteNumSmall {
             position: absolute;
             z-index: 1;
             font-size: 200px;
             text-align: center;
             font-weight: bolder;

             background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             background-clip: text;
         }

         .noteTitle {
             display: flex;
             font-size: 60px;
             line-height: 75px;
             font-weight: bolder;
             padding-left: 6%;
             padding-right: 6%;
             padding-top: 10px;
             overflow: hidden;
             text-shadow: 8px 8px 0px rgba(0, 0, 0, 0.15);
             text-transform: uppercase;
             align-items: center;
         }

         .noteTitleSmall {
             display: flex;
             font-size: 30px;
             line-height: 45px;
             font-weight: bold;
             padding-left: 6%;
             padding-right: 6%;
             padding-top: 10px;
             overflow: hidden;
             text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);
             text-transform: uppercase;
             align-items: center;
             opacity: 0.8;
         }

         .noteDes {
             padding-left: 6%;
             display: flex;
             align-items: center;
             border-top: 1px solid rgba(255, 255, 255, 0.2);
             opacity: 0.6;
         }

         .noteDesSmall {
             padding-left: 6%;
             display: flex;
             align-items: center;
             border-top: 1px solid rgba(255, 255, 255, 0.2);
             opacity: 0.6;
         }

         #block1 {
             background-color: #084062;
             grid-area: a2;
         }

         #block2 {
             background-color: #4B828A;
             grid-area: a1;
         }

         #block3 {
             background-color: #935E5F;
             grid-area: b1;
         }

         #block4 {
             background-color: #645E82;
             grid-area: c1;
         }

         #block5 {
             background-color: #BD8463;
             grid-area: c2;
         }

         #block6 {
             background-color: #2F323A;
             grid-area: c3;
         }

         #othersArea {
             align-self: center;
             overflow: hidden;
             background-color: #d94484;
             position: relative;
             display: none;
         }
     }

     @media (max-width: 1199px) {}