* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    color: white;
    user-select: none;
    font-family: serif;
    -webkit-user-seletct: none;
    -moz-user-seletct: none;
}

:root {
    --divider-color: #2A2B2D;
    --background-color: #17181A;
    --primaryText-color: #ffffff;
    --secondaryText-color: #8a8c90;
}

h1 {
    color: var(--primaryText-color);
    font-size: 32px;
    margin: 0;
}

p {
    color: var(--primaryText-color);
    opacity: 0.8;
    font-size: 17px;
    margin: 0;
}

a {
    color: var(--primaryText-color);
}

@font-face {
    font-family: Saira;
    src: url("../fonts/SairaCondensed-Regular.ttf");
}







@media (min-width:1080px) {

    .container {
        background-color: var(--background-color);
        display: grid;
        grid-template-columns: minmax(180px, 1fr) minmax(740px, 1200px) minmax(180px, 1fr);
        grid-template-rows: 100vh;
        overflow: hidden;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px auto 200px;
        padding: 0px 40px;
    }

    .navTop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border-bottom: 1px solid var(--divider-color);
    }

    .navBackButton {
        opacity: 0.4;
    }


    .navMid {
        position: relative;
        overflow: hidden;

    }

    .navMenuList {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;
    }

    .navIcon {
        width: 50px;
        height: 100px;
        margin-left: auto;
    }

    .navTitle {
        color: var(--primaryText-color);
        font-size: 24px;
        font-family: Saira, sans-serif;
    }

    .navText {
        white-space: pre-wrap;
        word-break: break-all;
        color: var(--secondaryText-color);
        font-size: 14px;
    }


    .navBot {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border-top: 1px solid var(--divider-color);
        margin-top: 40px;
    }




    .mid {
        border-left: 1px solid var(--divider-color);
        border-right: 1px solid var(--divider-color);
    }

    .main {
        height: 100%;
        margin: 0px 80px;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }


    .mainTop {
        border-bottom: 1px solid var(--divider-color);
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .projectTitle {
        font-size: 28px;
    }

    .projectDescription {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
        opacity: 0.6;
    }

    .mainContent {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
        font-weight: 300;
        line-height: 36px;
    }

    .mainContent::-webkit-scrollbar {
        display: none;
    }

    .mainContent {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .contentPara {
        margin-bottom: 20px;
        color: var(--secondaryText-color);
    }


    .mainBot {
        text-align: right;
        font-size: 16px;
        opacity: 0.6;
        border-top: 1px solid var(--divider-color);
        overflow: hidden;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .projectTime {
        margin-top: 20px;
    }


    .empty {
        height: 400px;
        width: 100%;
        margin-bottom: 20px;
        background-color: #505256;
    }

    .right {
        display: grid;
        grid-template-rows: 2fr 3fr;
        padding: 0px 40px;
    }

    .rightTop {
        border-bottom: 1px solid var(--divider-color);
        width: 100%;
    }

    .rightBot {
        margin-top: 40px;
        width: 100%;
        overflow: hidden;
    }


    .linksTitle {
        font-size: 24px;
        color: var(--primaryText-color);
    }

    .linkText {
        font-size: 14px;
        color: var(--secondaryText-color);
    }
}