*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Helvetica,"PingFang SC",sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

body{
    background-color: black;
}

img{
    object-fit: cover;
}

@font-face {
    font-family: "fitalia";
    src: url(/fonts/Fitalia.ttf);
}

.cursor{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursoranim 2s infinite alternate;
}

.cursor::after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border:8px solid gray;
    border-radius: 50%;
    opacity: 0.4;
    top: -8px;
    left: -8px;
    animation: cursoranim2 2s infinite alternate;
}

@keyframes cursoranim{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.7);
    }
}

@keyframes cursoranim2{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.5);
    }
}

.container{
    position: absolute;
    /* opacity: 0; */
}



@media (min-width:1200px)
{
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 420px 1fr;
        overflow: hidden;
    }



    .nav{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .nav-frame{
        height: 72%;
        display: grid;
        grid-template-rows: auto 1fr auto 1fr auto auto;
    }
    
    .nav-title{
        margin: 20px 0;
        display: flex;
    }
    
    .nav-title-text{
        color: white;
        font-size: 48px;
        font-family: "fitalia",serif;
        letter-spacing: 10px;
        font-weight: normal;
    }
    

    .nav-option{
        height: auto;
    }
    
    .nav-option-button{
        display: flex;
        align-items: center;
    }
    
    .nav-option-button-text{
        opacity: 0.5;
        padding: 10px 0;
        margin-right: 10px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: lighter;
    }
    
    .nav-option-button-divider{
        opacity: 0.15;
        margin-right: 10px;
    }
    
    .nav-option-button:hover .nav-option-button-text{
        opacity: 1;
        fill: white;
    }
    
    .nav-image{
        margin-bottom: 20px;
        text-align: right;
    }

    .nav-icon{
        height: 260px;
        width: 260px;
    }

    .nav-recordinfo{
    }
    
    .nav-recordinfo-text{
        opacity: 0.32;
        font-size: 12px;
        font-weight: 200;
    }
    


    .main{
        display: grid;
    }
   
    .wrapper{
        width: 86%;
        height:80%;
        overflow: hidden;
        justify-self: center;
        align-self: center;
    }

    .content-list{
        display: inline-flex;
        flex-wrap: nowrap;
        height: 100%;
    }

    .content-item{
        background-color: #1F3233;
        width: 300px;
        height: 90%;
        border-radius: 4px;
        
        position: relative;
        margin-right: 16px;
        align-self: center;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.5s;
    }

    .content-item:hover {
        height: 100%;
        transition: 0.2s;
    }    
    
    .content-item:hover .content-cover{
        filter: none;
        opacity: 1;
        transition: 0.2s;
    }

    .content-item:hover .content-cover-initialletter{
        opacity: 0;
        transition: 0.8s;
    }

    .content-item:hover .content-cover-poetry{
        opacity: 0;
        transition: 0.5s;
    }

    .content-item:hover .content-cover-author{
        opacity: 0;
        transition: 0.4s;
    }

    .content-cover{
        filter: grayscale(100%);
        width: 100%;
        height: 100%;
        opacity: 0.2;
        position: absolute;

        transition: 0.8s;
    }

    .content-cover-up{
        height: 100%;
        width: 100%;
        z-index: 9;
        padding: 0px 40px;
        display: grid;
        grid-template-rows: 40px 40px 20px 240px auto 40px 20px 20px 40px;
        overflow: hidden;
    }

    .content-cover-title{
        font-size: 24px;
        align-self: center;
    }
    .content-cover-description,.content-cover-poetry,.content-cover-author,.content-cover-time,.content-cover-me{
        font-size: 12px;
        opacity: 0.7;
        transition: 1s;
    }
    .content-cover-initialletter{
        font-size: 160px;
        align-self: center;
        opacity: 1;
        transition: 1s;
    }
    .content-cover-author{
        align-self: center;
    }
    .content-cover-author,.content-cover-time,.content-cover-me{
        text-align: right;
    }
}



@media (max-width:1199px)
{
    .container{
        display: grid;
        grid-template-rows: auto 1fr;
    }




    .nav{
        background-color: #1c1d1f;
        padding: 30px;
    }

    .nav-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-icon{
        display: none;
    }

    .nav-title-name{
        margin: 30px 0;
    }

    .nav-title-text{
        font-size: 30pt;
        font-family: "fitalia",serif;
        font-weight: normal;
    }

    .nav-option-button:hover .nav-option-button-text{
        color: white;
        fill: white;
    }
    

    .nav-recordinfo{
        display: flex;
        margin-top: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }
    
    .nav-recordinfo-text{
        color: #6B6D70;
        font-size: 12px;
        font-weight: 200;
    }


    .nav-option-button{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #2A2B2D;
    }

    .nav-option-button-text{
        color:#787A80;
        padding: 16px 0;
        margin-right: 10px;
        font-size: 14px;
    }

    .nav-option-button-divider{
        color: #383A3D;
        margin-right: 10px;
    }



    .main{
        background-color: #151617;
    }


    .content-list{
        display: flex;
        flex-direction: column;
    }

    .content-item{
        background-color: #1F3233;
        margin-top: 20px;
        height: 200px;
        width: 100%;
        overflow: hidden;
        display: flex;
        position: relative;
    }

    .content-cover{
        width: 100%;
        height: 200px;
        opacity: 0.5;
        position: absolute;
    }

    .content-cover-up{
        width: 100%;
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-cover-poetry,.content-cover-author,.content-cover-me,.content-cover-initialletter{
        display: none;
    }

    .content-cover-title{
        font-size: 32px;
        margin: 20px 0;
    }

    .content-cover-description,.content-cover-time{
        opacity: 0.7;
        margin-bottom: 10px;
        font-size: 16px;
    }
    
}

