* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    color: white;
    font-family: PingFangSC-Regular, Microsoft YaHei, sans-serif;
    user-select: none;
    -webkit-user-seletct: none;
    -moz-user-seletct: none;
    scrollbar-width: none;
}


img {
    object-fit: cover;
}

li {
    cursor: pointer;
}

@font-face {
    font-family: Saira;
    src: url("../fonts/SairaCondensed-Regular.ttf");
}


#homeBackground {
    background: linear-gradient(-45deg, #000000, #0e0e0e, #141414, #000000);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -6;
    width: 100%;
    height: 100%;
}

#projectsBackground {
    background: linear-gradient(-45deg, #004466, #00264D, #000833, #000000);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    display: none;
}

#notesBackground {
    background: linear-gradient(-45deg, #004466, #00264D, #000833, #000000);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -4;
    width: 100%;
    height: 100%;
    display: none;
}

#othersBackground {
    background: linear-gradient(-45deg, #004466, #00264D, #000833, #000000);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    display: none;
}

#aboutBackground {
    background: linear-gradient(-45deg, #004466, #00264D, #000833, #000000);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.noise {
    background: url(/images/noise.gif);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .05;
    z-index: -1;
    pointer-events: none;
}

.nav-menu-hide {
    display: none;
}



@media (min-width: 1200px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 100vh;
        overflow: hidden;
    }


    .nav {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 16vh 40px 16vh 40px;
    }

    .nav-frame {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto 1fr auto auto;
    }

    .nav-title {
        text-align: right;
        color: white;
    }

    .nav-title-text {
        color: white;
        font-size: 60px;
        font-family: Saira, sans-serif;
    }

    .nav-menu {
        display: none;
    }

    .nav-option {
        height: auto;
        display: flex;
        flex-direction: column;
    }



    .nav-option-button {
        opacity: 0.4;
        font-size: 16px;
        text-align: right;
        margin-top: 8x;
        margin-bottom: 8px;
    }




    .nav-option-button:hover {
        opacity: 1;
    }

    .selected {
        opacity: 1;
    }

    .nav-option-button:hover~#cursor {
        transform: scale(6);
    }

    ;


    .button-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .divider {
        font-size: 20px;
        font-weight: 100px;
        opacity: 0.18;
        margin-left: 10px;
    }




    .nav-image {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row-reverse;
    }

    .nav-icon {
        height: 150px;
        width: 75px;
    }

    .nav-recordinfo-text {
        opacity: 0.32;
        font-size: 12px;
        font-weight: 200;
        text-align: right;
    }


    .main {
        display: grid;
        padding: 0 20% 0 80px;
        position: relative;
    }

    .tabContent {
        height: 68vh;
        overflow: hidden;
        align-self: center;
        position: relative;
    }




    .clock {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lineBackground {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1012;
        background-image: url("/images/line.png");
        background-repeat: repeat-x;
        opacity: 0.25;
    }

    .ellipse {
        height: 600px;
        width: 600px;
        border-radius: 50%;
        position: absolute;
        z-index: -1011;
        box-shadow: 0px 0px 160px rgba(121, 0, 0, 0.2);
    }

    #clock_1 {
        height: 600px;
        width: 600px;
        position: absolute;
        z-index: -1010;
        justify-self: center;
    }

    #clock_2 {
        height: 600px;
        width: 600px;
        position: absolute;
        z-index: -1009;
        justify-self: center;
    }

    #clock_3 {
        height: 600px;
        width: 600px;
        position: absolute;
        z-index: 30;
        justify-self: center;
    }

    #home_text {
        width: 100%;
        z-index: 10;
        justify-self: center;
    }

    #p1 {
        font-size: 50px;
        font-family: Saira;
        text-transform: uppercase;
        text-align: left;
        margin-left: 10%;
        color: #919191;
    }

    #p2 {
        font-size: 120px;
        font-family: Saira;
        text-align: center;
        color: #6F181A;
        text-transform: uppercase;
        height: 200px;
        width: 100%;
    }

    #p22 {
        display: none;
    }

    #p3 {
        font-size: 40px;
        font-family: Saira;
        text-transform: uppercase;
        text-align: right;
        margin-right: 10%;
        color: #919191;
    }



    #projectsArea {
        display: none;
        height: 80vh;
    }

    .content-list {
        width: auto;
        display: inline-flex;
        flex-wrap: nowrap;
        height: 100%;
        align-self: center;
    }

    .content-item {
        width: 340px;
        height: 68vh;
        border-radius: 4px;

        position: relative;
        margin-right: 16px;
        align-self: center;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s;
        overflow: visible;

    }

    .content-item:hover {
        height: 80vh;
        transition: 0.2s;
    }

    .content-item:hover .content-cover {
        filter: none;
        box-sizing: border-box;
        border-radius: 4px;
        border: solid 6px white;
        opacity: 1;
    }

    .content-item:hover .content-cover-initialletter {
        opacity: 0;
    }

    .content-item:hover .content-cover-poetry {
        opacity: 0;
    }

    .content-item:hover .content-cover-author {
        opacity: 0;
    }

    .content-cover {
        filter: grayscale(100%);
        width: 100%;
        height: 100%;
        opacity: 0.08;
        position: absolute;
    }

    .content-cover-up {
        height: 68vh;
        width: 100%;
        z-index: 1;
        padding: 0 40px;
        display: grid;
        grid-template-rows: 40px 40px 20px 240px auto 40px 20px 20px 40px;
        overflow: hidden;
    }

    .content-cover-title {
        font-size: 24px;
        align-self: center;
        font-family: Saira, sans-serif;
    }

    .content-cover-description {
        font-size: 12px;
        opacity: 0.4;
    }

    .content-cover-poetry,
    .content-cover-author,
    .content-cover-time,
    .content-cover-me {
        font-size: 12px;
        opacity: 0.7;
    }

    .content-cover-initialletter {
        font-size: 160px;
        align-self: center;
        opacity: 1;
        font-family: Saira, sans-serif;
    }

    .content-cover-author {
        align-self: center;
    }

    .content-cover-author,
    .content-cover-time,
    .content-cover-me {
        text-align: right;
    }



    #notesArea {
        display: none;
    }

    .noteList {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "a1 a2 a2""b1 a2 a2""c1 c2 c3";
        row-gap: 20px;
        column-gap: 20px;
    }

    .noteBlock {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #block1 {
        background-color: #084062;
        grid-area: a2;
    }

    #block2 {
        background-color: #4B828A;
        grid-area: a1;
    }

    #block3 {
        background-color: #935E5F;
        grid-area: b1;
    }

    #block4 {
        background-color: #645E82;
        grid-area: c1;
    }

    #block5 {
        background-color: #BD8463;
        grid-area: c2;
    }

    #block6 {
        background-color: #2F323A;
        grid-area: c3;
    }

    .noteTitle {
        font-size: 42px;
        text-align: center;
    }

    #othersArea {
        align-self: center;
        overflow: hidden;
        background-color: #d94484;
        position: relative;
        display: none;
    }


    #aboutArea {
        display: none;
    }

    .about-title {
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 30px;
        color: white;
        opacity: 0.8;
    }

    .about-item-frame {
        display: flex;
        margin-bottom: 10px;
    }

    .about-item-name {
        width: 180px;
        opacity: 0.4;
        margin-right: 30px;
        font-weight: 400;
    }

    .about-item-content {
        color: rgb(228, 228, 228);
    }

    .about-item-icon {
        margin-right: 20px;
        width: 24px;
        height: 24px;
    }
}


@media (max-width: 1199px) {
    .container {
        display: grid;
        grid-template-rows: auto 1fr;
        width: 100vw;
    }

    .nav {
        background-color: #1c1d1f;
        width: 100vw;
    }

    .nav-frame {
        width: 100%;
    }

    .nav-head {
        width: 100%;
        height: 10vh;
        display: flex;
    }

    .nav-menu {
        opacity: 0.5;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 6%;
    }

    .nav-menu-image {
        width: 60px;
        height: 60px;
    }

    .nav-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 6%;
    }

    .nav-title-text {
        font-size: 2.4rem;
        font-weight: normal;
        font-family: Saira;
    }

    .nav-icon {
        display: none;
    }

    .nav-empty {
        display: none;
    }

    .nav-image {
        display: none;
    }



    .nav-option {
        width: 100%;
        height: 90vh;
        display: none;
        flex-direction: column;
        background-color: #1c1d1f;
        opacity: 1;
        align-items: center;
        justify-content: center;
    }

    .nav-option-button {
        display: flex;
        width: 100%;
        height: 8vh;
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }

    .divider {
        margin-left: 4vw;
        margin-right: 4vw;
        font-size: 2rem;
        opacity: 0.2;
    }


    .nav-recordinfo {
        display: none;
    }

    .nav-recordinfo-text {
        color: #6B6D70;
        font-size: 12px;
        font-weight: 200;
    }






    .main {
        width: 100%;
        overflow: hidden;
    }


    .content-list {
        display: flex;
        flex-direction: column;
    }

    .content-item {
        background-color: #1F3233;
        margin-top: 12px;
        height: 200px;
        width: 100%;
        overflow: hidden;
        display: flex;
        position: relative;
    }

    .content-cover {
        width: 100%;
        height: 200px;
        opacity: 0.5;
        position: absolute;
    }

    .content-cover-up {
        width: 100%;
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-cover-poetry,
    .content-cover-author,
    .content-cover-me,
    .content-cover-initialletter {
        display: none;
    }

    .content-cover-title {
        font-size: 32px;
        margin: 20px 0;
    }

    .content-cover-description,
    .content-cover-time {
        opacity: 0.7;
        margin-bottom: 10px;
        font-size: 16px;
    }


    #homeArea {
        width: 100vw;
        height: 88vh;
        overflow: hidden;
    }

    .clock {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lineBackground {
        width: 88%;
        height: 88%;
        position: absolute;
        z-index: -1012;
        background-image: url("/images/line.png");
        background-repeat: repeat-x;
        opacity: 0.2;
    }

    .ellipse {
        width: 60vw;
        height: 60vw;
        border-radius: 50%;
        position: absolute;
        z-index: -1011;
        box-shadow: 0px 0px 160px rgba(121, 0, 0, 0.2);
    }


    #clock_1 {
        width: 60vw;
        position: absolute;
        z-index: -1010;
    }

    #clock_2 {
        width: 60vw;
        position: absolute;
        z-index: -1009;
    }

    #clock_3 {
        width: 60vw;
        position: absolute;
        z-index: 10;
    }

    #home_text {
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
    }




    #p1 {
        font-size: 2rem;
        font-family: Saira;
        color: #919191;
        text-align: center;
    }


    #p2 {
        display: none;
        font-size: 2rem;
        font-family: Saira;
        color: #919191;
        text-align: center;
    }

    #p22 {
        font-size: 2rem;
        font-family: Saira;
        color: #6F181A;
        text-align: center;
    }

    #p3 {
        font-size: 2rem;
        font-family: Saira;
        text-align: center;
        color: #919191;
    }











    #projectsArea {
        display: none;
    }


    #notesArea {
        display: none;
    }


    #othersArea {
        display: none;
    }


    #aboutArea {
        display: none;
    }
}